:root {
    --font-color: #FFF;
    --panel-color: #7891a5;
    --width: 40px;
    --standard-padding: 10px;
    --base-color: #ebebeb;
}





body {
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
}



@font-face {
    font-family: 'chord_font';
    src: url(NotoSerif-VariableFont_wdth,wght.woff)format('woff');
}

#name {
      font-size: 14px;
    margin-bottom: 10px;
      margin-top:100px;
   
}

.keyboard-note01 {
    color: #E0E7EA;
    font-size: 14px;
    width: 20px;
    height: 20px;
    position: absolute;
    align-content: center;
    align-items: center;
    top: -30px;
    z-index: 5;
}

.keyboard-note02 {
    color: #E0E7EA;
    font-size: 14px;
    width: 20px;
    height: 20px;
    position: absolute;
    align-content: center;
    align-items: center;
    top: -50px;
    z-index: 5;
}


.word2 {
    font-size: 20px;
    color: gray;
    margin-top: 30px;
}
.white .word2 {
    font-size: 20px;
    color: gray;
    margin-top: 80px;
}

}

.web-head {

    border:1px  solid red;
    padding:2px;
    height:70px;
    margin:1px auto;
    align-content:center;

}


h1 {
    font-size: 25px;
    text-align: center;
    color:white;
}




.container {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    text-align: center;
    text-align: center;
    /*    border: 1px solid white;*/
    padding: 0;
   
    
}


.piano-panel {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    top: 5%;
    /*    left:calc(var(--width)*5);*/
    margin: 0 auto;
    background: var(--panel-color);
    justify-content: center;
    height: 50px;
    width: 1492px;
    align-content: flex-start;
    align-items: center;
    text-align: center;
    /*    border: 2px solid red; for debugging*/
    border-radius: 20px 20px 0 0;
    box-shadow: 10px 12px 20px #a5a5a5, -16px -16px 32px #ffffff;
    padding: var(--standard-padding);
}


.image  {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    padding: 10px;
    /*    border: 2px solid red;*/
    border-radius: 50%;
    background: linear-gradient(145deg, #809bb1, #6c8395);
    box-shadow: 3px 3px 6px #43515c, -3px -3px 6px #add1ee;
    cursor: pointer;
   
}
    .image img {
        
        width: 20px;
        height: 20px;
    }

    .image :active {
        /*    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 20px;
    padding: 10px;
        border: 2px solid red;
    border-radius: 50%;*/
        background: var(--panel-color);
        box-shadow: inset 20px 20px 60px #667b8c, inset -20px -20px 60px #8aa7be;
        cursor: pointer;
    }

.pallette {
    width: 120px;
    height: 40px;
    position: absolute;
    left: 60px;
    margin-left: 10px;
    border-radius: 10px;
    background: var(--panel-color);
    box-shadow: 3px 3px 10px #566877, -3px -3px 10px #9abad3;
    hidden;
    display:flex;
    justify-content:space-evenly;
    visibility:collapse;
    
}

.color-picker {
    width: 25px;
    height: 25px;
    position: relative;
    align-self: center;
    border-radius: 3px;
    background:unset;
    cursor:pointer;
    box-shadow: inset 0 0 0 3px var(--base-color),inset 4px 4px 7px grey, inset -4px -4px 3px #ffffff;
}

.dot {
    width: 10px;
    height: 10px;
    background:red;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    display:none;

}



.key {
    height: calc(var(--width) * 4);
    width: var(--width);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 2px 5px #a5a5a5, -2px 2px 2px #ffffff;
    letter-spacing:-1.5px;
}




.white {
    width: 40px;
    background: linear-gradient(#fff 96%, #eee 4%);
    border: 1px solid grey;
    border-radius: 0 0 5px 5px;
    display: flex;
    color:black;
 
}

.active {
        background-color: linear-gradient(#E74949 96%, #CA1717 4%);
 }

.black {
    z-index: 2;
    align-self: flex-start;
    border-radius: 0 0 5px 5px;
    --width: 25px;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    background: linear-gradient(#333 96%, #525050 4%);
    display: flex;
    justify-content: center;
    color:white;
    font-size:14px;
    
}

.Mode {

display:flex;
position:relative;
height:calc(var(--width)*3);
width:1400px;
margin:0px auto;
/*background:var(--panel-color);*/
/*border:2px dotted  grey;*/
border-radius:10px;


}

    .Mode .switch {
        display: flex;
        height: calc(var(--width)*4);
        width: 60%;
/*        border: 2px solid red;*/
        align-content: center;
        align-items: center;
        
    }

.UI-text {
    color: var(--panel-color);
    font-size: 20px;
    font-weight: 1;
    padding: 10px;
    margin-left: 10%;
}

.switch ul {
    margin-left: 6%;
    display: inline-flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;
    padding: 5px 5px;
    height: 40px;
    width: 40%;
/*    border: 3px solid #f2f2f2;*/
    border-radius: 30px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #b5b5b5, inset -12px -12px 24px #ffffff;
}

.switch .btn {
/*    border:2px  dashed red;*/
    list-style: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    align-content: center;
    text-align:center;
    background: none;
    cursor: pointer;
    color: grey;
    transition:0.3s;
  
}



.changemode {
    /*    border: 2px dashed red;*/
    /*    list-style: none;*/
    width: 50px;
    height: 27px;
    padding: 5px 20px;
    border-radius: 20px;
    align-content: center;
    background: var(--panel-color);
    box-shadow: 3px 3px 3px #b5b5b5, -3px -3px 3px #fff;
    cursor: pointer;
    position: absolute;
    left: 260px;
    transition: 0.3s;
}



.active {
    list-style: none;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
    align-content: center;
    cursor: pointer;
    color: white;
    transition: 0.3s;
    background: linear-gradient(145deg, #8ab2c8, #7495a8);
    box-shadow: 5px 5px 8px #9e9e9e, -2px -2px 3px #fff;
}



.scale-select {
    display: flex;
    height: calc(var(--width)*4);
    width: 60%;
/*    border: 2px solid red;*/
    align-content: center;
    align-items: center;
}

.select-panel {
    align-content:center;
    align-items:center;
   
    margin-left:0%;
    display: inline-flex;
    flex-flow: wrap;
    flex-direction: row;
    padding: 5px 5px;
    height: 40px;
    width: 100%;
    border: 3px solid #f2f2f2;
    border-radius: 30px;
    background: var(--panel-color);
    /*    box-shadow: inset 12px 12px 24px #b5b5b5, inset -12px -12px 24px #ffffff;*/

}

.dropdown {
    list-style: none;
    width:100%;
   
}

.select-list {
    padding: 2px;
    position: relative;
    font-family: Arial;
    font-size: 20px;
    width: 50px;
    background: white;
    border-radius: 30px;
    align-content: center;
    align-items: center;
    color:black;
    box-shadow: 5px 5px 13px #5e7181, -3px -3px 13px #a0c1db;
}
/*.sheet {
    
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    background: red;
    padding: 10px;
    height: 50%;
    width: 100% ;

}*/
.data {
    /*    border: 1px solid red;*/
    display: flex;
    flex-flow: row nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    text-align: center;
    padding: calc(var(--standard-padding)*2);
}

.display_header {
    border: 2px solid red;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-flow:wrap;
}

.labels {
/*    margin-left: 10px;*/
/*    border: 1px solid #fff;*/
    height: 50px;
    width:500px;
    align-content: center;
    align-items: center;
/*    padding: 5px 10px;*/
     display: flex;
/*    border-radius: 30px;*/
    overflow:hidden;
    
    box-shadow: 8px 8px 20px #e9e9e9, -10px -10px 20px #f7f7f7;
    font-family: 'chord_font';
    color: var(--panel-color);
}
.labels .toggles {
    display:flex;
/*    border: 1px solid red;*/
    padding: 10px 10px;
}

.range {
    margin-left:20px;
    display:flex;
    padding: 2px;
    height: 10px;
    width:100px;
    -webkit-appearance: none;
    background: #f0f0f0;
    outline: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),-5px -5px 10px #fff, inset 5px 5px 5px rgba(0,0,0,0.1);
    overflow:hidden;
}
    .range::-webkit-slider-thumb {

      -webkit-appearance:none;
      background:#fff;
      height:15px;
      width:15px;
      border-radius:50%;
      border: 3px solid var(--panel-color);
      box-shadow:-407px  0 0 400px  var(--panel-color);

    }

.chord {
    border-top: 2px solid white;
    border-left:2px solid white;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    text-align: left;
    border-radius: 10px;
    font-family: 'chord_font';
    background: #f2f2f2;
    box-shadow: inset 11px 11px 25px #dfdfdf, inset -11px -11px 25px #ffffff;
}


.staff-setting {
    width: 900px;
    height: 50px;
    display:flex;
    align-items:center;
    /*    border: dotted blue thin;*/
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 5px 5px 10px #c7c7c7, -9px -9px 17px #ffffff;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*    overflow: hidden;*/
    z-index: 2;
}
.clef-setting {
    margin-left: 6%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 80%;
    width: 80px;
    font-size: 32px;
    border-radius: 20px;
    background: #f2f2f2;
    box-shadow: inset 5px 5px 10px #b5b5b5, inset -12px -12px 24px #ffffff;
    overflow: hidden;
    border:1px solid lightgrey;
    cursor:pointer;

}

    .clef-setting .switch {
        align-items:center;
        width: 50px;
        cursor:pointer;
        overflow:hidden;
    }

.clear {
    content: "";
    width: 50px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 3px 3px 6px #e3e3e3, -5px -5px 10px #ffffff;
    margin-left: 6%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    height: 80%;
    border-radius: 20px;
/*    overflow: hidden;*/
    border: 1px solid lightgrey;
    cursor: pointer;
}


    .clear:active {
        background :linear-gradient(145deg, #809bb1, #6c8395);
        
    }




.staff-setting img {
    width: 20px;
    height: 20px;
}



.stave {
    border-top: 1px solid white;
    height: 300px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    border-radius: 10px;
    background: #fff;
    box-shadow: inset 11px 11px 25px #dfdfdf, inset -11px -11px 25px #ffffff;
/*    overflow: auto;
    overflow-x: scroll;*/
    margin: 0px;
}







#target {
    /*border:2px  red  dotted;*/
}

.target-staff {
    border-top: 1px solid white;
    height: 300px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    position: relative;
    overflow: auto;
    overflow-x: scroll;
    margin: 0px;
}

.target-staff::-webkit-scrollbar {
    width: 1em;
}

    .target-staff::-webkit-scrollbar-track {
        -webkit-box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }

    .target-staff::-webkit-scrollbar-thumb {
        background-color: #DDDFEA;
        border-radius: 5px;
        -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }


.adjustables {
    font-size: 20px;
    font-weight: 500;
    color: white;
    
}

.Setting_panel .image {
    min-width:40px;
    display:flex;
}


/*=========*/
.Setting_panel {
    position: fixed;
    background-color: var(--panel-color);
    bottom: 5px;
    height: 100px;
    width: 1200px;
    padding: 10px 14px;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    z-index: 3;
}



.Setting_panel .image-text .image img {
    width: 30px;
    display:flex;
    
}
.Setting_panel .image-text {
    display:flex;
    align-items:center;
    padding:5px;
/*    border:2px solid red;*/
    }


    .Setting_panel .toggle {
        position: absolute;
        top: -25px;
        left: 0;
        width: 50px;
        height: 40px;
        background: var(--panel-color);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        color: var(--font-color);
        font-size: 25px;
        box-shadow: rgba(67, 71, 85, 0.27) 0em -0.2em 0.25em, rgba(90, 125, 188, 0.05) 0px -0.25em 1em;
        
    }
    .display_word {
    
    transition: 0.1s;
    }



.tab_btn {
    margin-left: 2%;
    font-size: 18px;
    color: grey;
    border-radius: 50px;
    background: linear-gradient(145deg, #fefefe, #d5d5d5);
    box-shadow: 5px 5px 13px #5e7181, -3px -3px 13px #a0c1db;
    padding: 2px 10px;
    cursor: pointer;
    border: 0.5px solid white;
}

    .tab_btn:active {
        color: var(--font-color);
        background: linear-gradient(145deg, #6c8395, #809bb1);
   
        border: 0.5px solid var(--panel-color);
        box-shadow: 5px 5px 13px #50616f, -3px -3px 13px #a0c1db;
    }

input[type="checkbox"] {
    position: relative;
    align-content: center;
    align-items: center;
    -webkit-appearance: none;
    height: 20px;
    width: 40px;
    background: var(--panel-color);
    box-shadow: #50616f 2px 2px 6px 0px inset, rgba(255, 255, 255, 0.2) -2px -2px 3px 1px inset;
    border-radius: 40px;
    border: 3 px solid #ececec;
    cursor: pointer;
    transition: 0.3s;
}



    input[type="checkbox"]:after {
        content: "";
        align-content: center;
        position: absolute;
        height: 18px;
        width: 18px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        border-radius: 50%;
        left: 2px;
        bottom: 1px;
        transition: 0.3s;
    }

    input[type="checkbox"]:before {
        content: '';
        box-shadow:21px 21px 42px #50616f;
        align-content: center;
        position: absolute;
        color: #ececec;
        font-size: 16px;
        left: 47px;
        transition: 0.3s;
        top: 0px;
        text-align: center;
    }

    input[type="checkbox"]:checked {
        background-color: white;
    }
    input[type="checkbox"]:checked:after {
            background-color: white;
            left: 17px;
            transition: 0.3s;
        }
        input[type="checkbox"]:checked:before {
            color: var(--panel-color);
            align-content: center;
            content: " "; /*off*/
            transition: 0.3s;
        }


.blur {
    /*filter: blur(0.5em);*/ /* Apply a blur effect */
    visibility:hidden;
   
}

